* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
}

body {
  min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 0;
  margin: 0;
}

header img {
  display: block;
  max-width: 768px;
  max-height: 50px;
  margin: 0 auto;
  padding: 10px 0;
}

.game {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .infoGame {
  margin: 10px 5px;
  padding: 5px;
  max-width: 310px;
  margin-top: 8px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#tetris {
  display: block;
}

p {
  line-height: calc(100% + 14px);
}

#score,
#speed {
  display: inline-block;
}

.controls {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto 10px;
}

button {
  background: none;
  border: none;
  color: #fff;
}

.modal {
  text-align: center;
  background-color: rgba(25, 25, 25, 0.8);
  width: 100%;
  height: 100%;

  padding: 10px 5px;
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 0;
}

.modal p {
  font-size: 0.89rem;
}

.instruction {
  height: calc(100% - 50px);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#enter,
#resetGame {
  margin: 10px auto;
  display: flex;
  align-items: center;
  color: rgba(46, 204, 113, 1);
  transition: color .5s;

}

#enter img,
#resetGame img {
  margin: 4px;
  transition: filter .5s;

}

#enter:hover, #resetGame:hover{
  color: rgb(53, 165, 100);
}

#enter:hover img, #resetGame img{
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
    saturate(1000%) contrast(0.8);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg)
    saturate(1000%) contrast(0.8);
}

.gameOver {
  height: calc(100% - 50px);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameOver h2 {
  color: firebrick;
}

.gameOver span {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: coral;
}

.open {
  display: block;
  animation: open-modal 1s normal;
}

.close {
  display: block;
  height: 0;
  opacity: 0;
  animation: close-modal 1s normal;
}

@keyframes open-modal {
  0% {
    display: block !important;
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  100% {
    display: block;
    overflow: auto;
    opacity: 1;
  }
}

@keyframes close-modal {
  0% {
    height: calc(100% - 50px);
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@media (min-width: 700px) {
  #tetris {
    zoom: 1.5;
  }
  .infoGame {
    width: 25%;
  }
  .infoGame,
  .controls,
  .instruction {
    zoom: 1.5;
  }
}
