* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
}

body {
	min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 0;
  margin: 0;
}

header img {
  display: block;
  max-width: 768px;
  margin: 0 auto;
  padding: 10px 0;
}

.game {
  padding: 10px 5px;
}

.game .infoGame {
  margin: 10px 5px;
  width: 100%;
  max-width: 310px;
  margin: 0 auto;
  margin-top: 8px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
}

p {
  margin: 4px;
  line-height: calc(100% + 14px);
}

#score,
#speed {
  display: inline-block;
}

.controls {
  margin: 20px auto 10px;
}

button {
  background: none;
  border: none;
  color: #fff;
}

.modal {
  text-align: center;
  background-color: rgba(25, 25, 25, 0.8);
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
}

.modal p {
  font-size: 0.89rem;
}

#enter, #resetGame {
  margin: 10px auto;
  display: flex;
  align-items: center;
	color: rgba(46, 204, 113,1.0);
}

#enter img, #resetGame img{
  margin: 4px;
}

.gameOver {
	height: calc(90% - 58px);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameOver h2{
	color: firebrick;
}

.gameOver  span{
	margin-top: 5px;
	margin-bottom: 5px;
  font-size: 1.2rem;
	font-weight: bold;
	color: coral;
}

.open {
  display: block;
  animation: open-modal 1s normal;
}

.close {
  display: block;
  height: 0;
  animation: close-modal 1s normal;
}

@keyframes open-modal {
  0% {
    display: block !important;
    height: 0;
    opacity: 0;
  }
  100% {
    display: block;
		height: calc(100% - 56px);
    opacity: 1;
  }
}

@keyframes close-modal {
  0% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
